.header{
  background-color: #26d0c9;
  color: #fff;
  height: 120px;
}
h1{
  padding: 30px 30px;
}
body{
  background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fgifer.com%2Fen%2FIknm&psig=AOvVaw0ZoyS3Co8rh5uPI6OT7KBg&ust=1593946847709000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCdqfO4s-oCFQAAAAAdAAAAABAo') 
}
